body{
    font-family: $Lora;
    font-size: 16px;
    line-height: 1.4;
}
h1, h2, h3, h4, h5 {
    font-family: $SourceSans;
    font-weight: 900;
    line-height: 1.25;
}

#site-title {
    font-size: 2rem;
    font-weight: 200;
}

h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.333;
}

a {
    color: $link;
}

.white {color: white}
.center {text-align: center}